*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
 background-color: #080808;
}

.heroSection{
 background-color: #080808;
 height: 700px;
 padding-top: 3rem;
}
header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 align-items: center;
 padding-left: 80px;
 padding-right: 80px;
}
.logo{
 text-decoration: none;
 color: gold;
 font-size: 30px;
 font-weight: 700px;
}
.hamburger {
 display: none;
}
.close{
 display: none;
 font-size: 50px;
 font-weight: bolder;
 color: #fff;
 cursor: pointer;
}

.navBar{
  display: flex;
  align-items: center;
}

.menu {
 display: flex;
 align-items: center;
 justify-content: space-around;
 list-style-type: none;
 
}

.menu-list {
  text-decoration: none;
  margin-left: 2.5rem;
  color: gold;
}

.menu li{
 list-style-type: none;
}
.btn1{
 margin-left: 2rem;
 /* background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%); */
 background-color: transparent;
border-radius: 20px;
padding: 0.7rem;
border: 2px solid gold;
width: 95px;
height: 38px;
color: #fff;
}
.subHeroSection{
 display: flex;
}
.content{
 color: #fff;
 padding-left: 80px;
 padding-right: 80px;
 text-align: left;
 margin-top: 85px;
 max-width: 720px;
 font-family: Poppins;
font-size: 50px;
font-weight: 700;
line-height: 75px;
}
.I{
 color: #595959;
}
.frontend{
font-size: 28px;
font-weight: 500;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color: #DFDFDF;

}
.btn2{
 width: 278px;
 height: 75px;
 border-radius: 40px;
 padding: 20px, 30px, 20px, 30px;
 font-family: Roboto;
font-size: 30px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0em;
/* text-align: left; */
color: #fff;
background-color: gold;
cursor: pointer;
margin-top: 20px;
}
/* .subHeroSectionImg{
 width: 100px;
 height: 50px;
} */
.worked{
 /* display: flex; */
 justify-content: center;
 text-align: center;
 /* margin-top: 30px; */
 color: #B4B4B4;
 font-family: Poppins;
font-size: 50px;
font-weight: 700;
line-height: 75px;
/* background-color: #1B262C; */
background-color: #080808;

}
.logos{
 margin-top: 50px;
 /* background-color: #1B262C; */
 display: flex;
 justify-content: center;
 gap: 50px;
 height: 100px;
 align-items: center;
}
.section2Heading{
 text-align: center;
 font-size: 60px;
 font-weight: 700px;
 color: #fff;
}
.afroso{
 display: flex;
 margin-left: 100px;
 margin-right: 100px;
 gap: 200px;
 /* justify-content: space-around; */
 margin-top: 50px;
}
.projectImg img{
 width: 550px;
}
a{
 text-decoration: none;
 cursor: pointer;
}
a:hover{
 text-decoration: underline;
 color: chocolate;
}
.heading{
 color: #eee;
 font-size: 32px;
 text-decoration: none;

}
.afrosoContent{
 margin-top: 15px;
 color: #fff;
 width: 500px;
 line-height: 30px;
}
.note{
 font-weight: bolder;
 margin-top: 15px;
}
.checkLink{
 font-size: 18px;
 color:blue;
 padding-top: 25px;
 font-weight: 900;
}
.checkLink:hover{
 text-decoration: underline;
 color: gold;
}
.section3{
 position: absolute;
 margin-top: 80px;
}
.aboutbtn{
 max-width: 900px;
 height: 95px;
 border-radius: 40px;
 padding: 20px, 30px, 20px, 30px;
 font-family: Roboto;
font-size: 45px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0em;
/* text-align: left; */
color: #fff;
background-color: gold;
cursor: pointer;
margin-top: 20px;
position: relative;
left: 60%;
/* right: 50%; */
/* margin-left: 400px; */
/* text-align: center; */
}


/* Mobile Responsiveness */
@media screen and (max-width: 800px) {
 header{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
 }

 .hamburger{
  color: #fff;
  font-size: 35px;
  font-weight: bolder;
  display: block;
  position: absolute;
  right: 70px;
  top: 25px;
  cursor: pointer;
 }
 .close{
  position: absolute;
 top: 25px;
 right: 70px;
 }
 .menu-drop{
  display: block;
   left: 0px;
  justify-content: center;
  width: 100%;
  background-color: #262626;
  height: 88vh;
  border-radius: 20% 0 0 60%;
  position: absolute;
  top: 12vh;
  text-align: center;
  z-index: 1;
 }
 .menu{
   display: none;
 }

 .menu-drop li{
   list-style-type: none;
   margin-top: 40px;
 }
 .menu-list{
   font-size: 28px;
   text-transform: uppercase;
 }
 .show-menu{
  display: block;
 }
 .nav-item {
  list-style-type: none;
  margin: 25px;
 }

 .nav-links{
  padding-right: 0px;
  color: #eee;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
 }
 .btn1{
  margin-top: 30px;
 }
 .nav-links::before, 
 .nav-links::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: antiquewhite;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition-delay: 0.5s;
 }

 .nav-links::after{
  bottom: 0;
  transform-origin: right;

 }
 .nav-links::before{
  top: 0px;
  transform-origin: left;
 }

 .nav-links:hover::before, 
 .nav-links:hover::after{
  transform: scaleX(1);
 }
 .hide-hamburger {
   display: none;
 }
 .show-close {
  display: block;
}
.deactive {
 display: none;
}
}